profiles {
        my_project_f4 {
            params {
                inputVCF = "test/data/test.vcf.gz"  // Replace with the path to your input VCF file
                inputbed = "test/data/test.bed"
                inputgeno = "test/data/test.geno"
                input_type = "plink" // 'vcf','plink','eigenstrat'
                half_call = "h"
                popA="CHB"
                popB="PEL"
                popC="Maya Mixe Nahua"
                popD="Maya Mixe Nahua"
                run_qpDstat = true
                f4mode = "YES"
                outdir = "test/results"  // Replace with the desired output directory
                samples = "test/reference/new_sample_names.txt"  // Replace with the path to the samples file 
            }
        }
        my_project_f3 {
                params {
                inputVCF = "test/data/test.vcf.gz"                  // Replace with the path to your input VCF file. Needs input_type = "vcf"
                inputbed = "test/data/test.bed"                     // Replace with the path to your input bed file. Needs input_type = "plink"
                inputgeno = "test/data/test.geno"                   // Replace with the path to your input bed file. Needs input_type = "eigenstrat"
                input_type = "plink"                                // 'vcf','plink','eigenstrat'
                half_call = "h"                                     // Plink option when VCF to PLINK on how to treat how to deal with '0/.'. See https://www.cog-genomics.org/plink/1.9/input
                samples = "test/reference/new_sample_names.txt"     // Replace with the path to the samples file for VCF to Plink.
                popA="CHB"                                          // Pop vector in position A. 
                popB="PEL"                                          // Pop vector in position B. 
                popC="Maya Mixe Nahua"                              // Pop vector in position C. 
                run_qp3Pop = true                                   // true/false to use qp3Pop    
                inbreed = "NO"                                      // inbreed option for f3.
                outdir = "test/results"                             // Replace with the desired output directory 
                }
            }
}