/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_qp3Pop 

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'qp3Pop Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function for qp3Pop'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    inputVCF = "test/data/test.vcf.gz"                  // Replace with the path to your input VCF file. Needs input_type = "vcf"
    inputbed = "test/data/test.bed"                     // Replace with the path to your input bed file. Needs input_type = "plink"
    inputgeno = "test/data/test.geno"                   // Replace with the path to your input bed file. Needs input_type = "eigenstrat"
    input_type = "plink"                                // 'vcf','plink','eigenstrat'
    half_call = "h"                                     // Plink option when VCF to PLINK on how to treat how to deal with '0/.'. See https://www.cog-genomics.org/plink/1.9/input
    samples = "test/reference/new_sample_names.txt"     // Replace with the path to the samples file for VCF to Plink.
    popA="CHB"                                          // Pop vector in position A. 
    popB="PEL"                                          // Pop vector in position B. 
    popC="Maya Mixe Nahua"                              // Pop vector in position C. 
    run_qp3Pop = true                                   // true/false to use qp3Pop    
    inbreed = "NO"                                      // inbreed option for f3.
    outdir = "test/results"                             // Replace with the desired output directory
}